<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="ru"> <!--<![endif]-->  
<head>
    <title>LifeChat - Ваш новый мессенджер!</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/css/styles.css">
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">       
            <h1 class="logo">
                <a class="scrollto" href="#hero">
                    <img class="logo-icon" src="static/images/logo.png"></span>
                    <a>⠀</a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a class="scrollto" href="#about">Возможности</a></li>
                        <li class="nav-item"><a class="scrollto" href="#pricing">Версии</a></li>
                        <li class="nav-item"><a class="scrollto" href="#contact">Обатная связь</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div id="hero" class="hero-section">
        
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
            
            <div class="figure-holder-wrapper">
        		<div class="container">
            		<div class="row">
                		<div class="figure-holder">
                	        <img class="figure-image img-responsive" src="static/images/imac.png" alt="image" />
                        </div><!--//figure-holder-->
            		</div><!--//row-->
        		</div><!--//container-->
    		</div><!--//figure-holder-wrapper-->
            
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
				<li data-slide-to="1" data-target="#hero-carousel"></li>
				<li data-slide-to="2" data-target="#hero-carousel"></li>
			</ol>
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
    			
				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
    				        
				            <h2 class="heading">LifeChat - новый мессенджер, <br class="hidden-xs">который пока что ничего не может.</h2>
				            <p class="intro">На данный момент уже вышла Alpha-версия, которая доступна только выбранным тестерам. Если вас выбрали, нажмите на кнопку ниже.</p>
				            <a class="btn btn-primary btn-cta" href="youtube.com" target="_blank">Скачать Alpha-версию</a>
    				        
    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->
				
				<div class="item item-2">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading">Что он может?</h2>
				            <p class="intro">Как уже было сказано ранее, почти ничего. В этой версии единственные возможности - регистрироваться и отправлять текстовые сообщения.</p>
				            <a class="btn btn-primary btn-cta" href="" target="_blank">Скачать</a>
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
				
				<div class="item item-3">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading">Но что насчёт следующих обновлений?</h2>
				            <p class="intro">LifeChat будет обновляться ещё минимум 10 раз, причём каждая версия будет приносить за собой не одну функцию (ну естественно, сейчас же ничего нет). Вы можете запросить получение (только одного) следующего обновления по кнопке ниже.</p>
				            <a class="btn btn-primary btn-cta" href="" target="_blank">Запросить</a>
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->
    
    <div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">Что мы сможем чуть позже</h2>
            <p class="intro">Всё описаное тут касается следующего обновления Alpha 0.0.2</p>
            
            
            <div class="items-wrapper row">
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="static/images/figure-1.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Отправка файлов</h3>
                        <div class="item-desc">
                            Отправка файлов - ключевая функция следующего обновления. Именно на ней основаны все остальные.
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="static/images/figure-2.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Отправка и расшифровка голосовых сообщений</h3>
                        <div class="item-desc">
                            В версии 0.0.2 вместе с отправкой голосовых появится и расшифровка, а не как у ВК и ICQ.</div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="static/images/figure-3.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">"Глухой" режим</h3>
                        <div class="item-desc">
                            Если включить эту функцию, ни один пользователь не сможет посылать Вам голосовые сообщения. Если вы не можете слушать голосовые, включите эту функцию и что-то срочное вам можно будет прислать только в виде текстового сообщения.</div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->
    
    
    
    <div id="pricing" class="pricing-section">
        <div class="container text-center">
            <h2 class="section-title">Версии</h2>
            <div class="intro">Разные версии мессенджера</div>
            <div class="pricing-wrapper">
                <div class="item item-1 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Предыдущая</h3>
                        <div class="price-figure">
                            <span class="number">Dev</span><span class="currency"> 0.0.0</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Версия для разработчика, которая даже выглядит плохо. Не сохранилась.</p>
                            <a>⠀</a>
                            
                        </div><!--//price-desc-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-2 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Актуальная</h3>
                        <div class="price-figure">
                            <span class="number">Alpha</span><span class="currency">0.0.1</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Самая первая версия, доступная для Alpha-тестирования. Использовать могут только определённые выбранные персоны.</p>
                            <a>⠀</a>
                            
                            
                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="">Скачать</a>
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                
                <div class="item item-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Следующая</h3>
                        <div class="price-figure">
                            <span class="number">Alpha</span><span class="currency">0.0.2</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Версия в разработке, которая будет следующей. Через кнопку вы можете сделать запрос на получение версии одним(-ой) из первых.</p>
                            <a href="" target="_blank">Подробнее..</a>
                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="" target="_blank">Запросить</a>
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//pricing-wrapper-->
            
        </div><!--//container-->
    </div><!--//pricing-section-->
    <div id="contact" class="contact-section">
        <div class="container text-center">
            <h2 class="section-title">Обратная связь</h2>
            <div class="contact-content">
                <p>Если у вс есть вопросы или пожелания, пишите нам</p>
                
            </div>
            <a class="btn btn-cta btn-primary" href="">Писать сюда</a>
            
        </div><!--//container-->
    </div><!--//contact-section-->
    
    <footer class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Сайт создан Maxi Corp с помощью дизайн-шаблона от <a href="http://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a>.</small>
            
            
        </div><!--//container-->
    </footer>
     
    <!-- Javascript -->          
    <script type="text/javascript" src="static/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>     
    <script type="text/javascript" src="static/js/main.js"></script> 
       
</body>
</html> 

